.footer {
  padding: 35px 5vw;
  background: #05486a;
  @include flex;
  &__social {
    margin-top: 60px;
    h5 {
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 10px;
    }
    a {
      &:not(:last-child) {
        margin-right: 10px;
      }
      img {
        width: 28px;
        display: inline-block;
      }
    }
  }

  ul {
    height: 100%;
    width: 100%;
    @include flex(start, space-between, row, 40px);
    li {
      height: 100%;
      @include flex(start, start, column, 5px);
      &:last-child {
        padding-left: 20px;
        box-shadow: -2px 0 0 #d03427;
      }
      h2,
      h3,
      h4 {
        color: #fff;
      }
      a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        transition: 0.2s;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
