<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <ul>
        <li>
          <a href="/" class="nav__logo">
            <img src="./assets/img/logo-white.svg" alt="" />
            <h2>мебельная фабрика</h2>
          </a>
          <div class="footer__social">
            <h5>Мы в соцсетях</h5>
            <span>
              <a href="#">
                <img src="./assets/img/icons/tg-white.svg" alt="" />
              </a>
              <a href="#">
                <img src="./assets/img/icons/wht-white.svg" alt="" />
              </a>
              <a href="#">
                <img src="./assets/img/icons/vk-white.svg" alt="" />
              </a>
            </span>
          </div>
        </li>
        <li>
          <h3>КУХНИ</h3>
          <a href="#">Классика</a>
          <a href="#">Современный</a>
          <a href="#">Нео классика</a>
          <a href="#">Лофт</a>
          <a href="#">МДФ Эмаль</a>
          <a href="#">Глянец</a>
          <a href="#">Матовый</a>
          <a href="#">Шпон</a>
          <a href="#">Массив</a>
          <a href="#">Акрил</a>
        </li>
        <li>
          <h3>КУХНИ</h3>
          <a href="#">Пластик</a>
          <a href="#">ЛДСП</a>
          <a href="#">Плиты TSS Smart</a>
          <a href="#">Большая кухня</a>
          <a href="#">Маленькая кухня</a>
          <a href="#">Кухня без ручек</a>
          <a href="#">Кухня с барной стойкой</a>
          <a href="#">П образная кухня</a>
          <a href="#">Прямая кухня</a>
          <a href="#">Угловая</a>
        </li>
        <li>
          <h3>МЕБЕЛЬ</h3>
          <a href="#">Корпусная</a>
          <a href="#">Из массива</a>
          <a href="#">В ванную</a>
          <br /><br />
          <h3>ШКАФЫ</h3>
          <a href="#">Купэ</a>
          <a href="#">Встраиваемые</a>
          <a href="#">Распашные</a>
        </li>
        <li>
          <h4>
            г. Москва, <br />
            ул. Самуила Маршака, 22 <br /><br />
            г. Москва, <br />
            ул. Рождественская, 32 <br /><br />
            +7 (495) 210-88-50 <br /><br />
            info@mail.ru
          </h4>
        </li>
      </ul>
    </footer>
  </body>
</html>
