<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav__logo">
        <img src="./assets/img/logo.svg" alt="" />
        <h2>мебельная фабрика</h2>
      </div>

      <div class="nav__actions">
        <div class="nav__action">
          <div class="nav__figure">
            <img src="./assets/img/icons/call.svg" alt="" />
          </div>
          <span>
            <h3>+7 (495) 210-88-50</h3>
            <a href="tel:+74952108850">Заказать звонок</a>
          </span>
        </div>
        <div class="nav__action">
          <div class="nav__figure">
            <img src="./assets/img/icons/shop.svg" alt="" />
          </div>
          <span>
            <h3>г.Москва</h3>
            <a href="tel:+74952108850">Список салонов</a>
          </span>
        </div>
        <div class="nav__action">
          <div class="nav__figure">
            <h5>Мы в соцсетях</h5>
            <span>
              <a href="#">
                <img src="./assets/img/icons/telegram.svg" alt="" />
              </a>
              <a href="#">
                <img src="./assets/img/icons/whatsapp.svg" alt="" />
              </a>
              <a href="#">
                <img src="./assets/img/icons/vk.svg" alt="" />
              </a>
            </span>
          </div>
        </div>
      </div>

      <ul class="nav__list">
        <li class="nav__link">
          <a href="#">Кухни</a>
          <ol class="nav__content">
            <li>
              <a href="#">Стиль</a>
              <div class="nav__item">
                <a href="#">Классика </a>
                <a href="#">Современный</a>
                <a href="#">Нео классика </a>
                <a href="#">Лофт</a>
              </div>
            </li>
            <li>
              <a href="#">Материал </a>
              <div class="nav__item">
                <a href="#">Классика </a>
                <a href="#">Современный</a>
                <a href="#">Нео классика </a>
                <a href="#">Лофт</a>
              </div>
            </li>
            <li>
              <a href="#">Форма и размеры</a>
              <div class="nav__item">
                <a href="#">Классика </a>
                <a href="#">Современный</a>
                <a href="#">Нео классика </a>
                <a href="#">Лофт</a>
              </div>
            </li>
          </ol>
        </li>

        <li class="nav__link">
          <a href="#">Мебель</a>
          <ol class="nav__content">
            <li>
              <a href="#">Корпусная</a>
            </li>
            <li>
              <a href="#">Из массива</a>
            </li>
            <li>
              <a href="#">В ванную</a>
            </li>
          </ol>
        </li>

        <li class="nav__link">
          <a href="#">Шкафы</a>
          <ol class="nav__content">
            <li>
              <a href="#">Купэ</a>
            </li>
            <li>
              <a href="#">Встраиваемые</a>
            </li>
            <li>
              <a href="#">Распашные</a>
            </li>
          </ol>
        </li>

        <li class="nav__link">
          <a href="#">О нас</a>
        </li>

        <li class="nav__link">
          <a href="contact.html">Контакты</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
