<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/app.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="popup">
      <div class="popup__bg" onclick="closeForm()"></div>

      <div class="popup__content">
        <img
          src="./assets/img/icons/close.svg"
          class="popup__close"
          alt=""
          onclick="closeForm()"
        />

        <form
          class="popup__form"
          onsubmit="event.preventDefault(); submitForm();"
        >
          <div class="popup__title">
            оставьте свои данные <mark>мы перезвоним вам</mark>
          </div>

          <div class="popup__group">
            <input type="text" minlength="3" placeholder="Имя" required />
            <input
              type="number"
              minlength="9"
              placeholder="Номер телефона"
              required
            />
          </div>

          <textarea
            class="popup__textarea"
            placeholder="Комментарий"
          ></textarea>

          <button class="popup__btn">
            Отправить
          </button>
        </form>

        <div class="popup__subtitle">
          <img src="./assets/img/icons/success.svg" alt="" />
          <h2>Спасибо!</h2>
          <h3>Заявка принята</h3>
        </div>
      </div>
    </div>
  </body>
  <script>
    let popup = document.querySelector(".popup");
    let popupForm = document.querySelector(".popup__form");
    let popupSub = document.querySelector(".popup__subtitle");

    function submitForm(el) {
      popupForm.style.display = "none";
      popupSub.style.display = "flex";
      setTimeout(() => {
        popupSub.style.display = "none";
        popupForm.style.display = "flex";
        closeForm();
      }, 3000);
    }

    function closeForm() {
      popup.style.display = "none";
    }
  </script>
</html>
