@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
// family=Bebas+Neue&
@import "../fonts/bebasneue.css";

@mixin flex($a: center, $j: center, $f: row, $g: 0px) {
  display: flex;
  flex-direction: $f;
  align-items: $a;
  justify-content: $j;
  gap: $g;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.nav {
  position: fixed;
  padding: 0 5vw;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background: #fff;
  @include flex(start, space-between, row);
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  z-index: 3;

  //?   Logo
  &__logo {
    padding: 5px 0;
    @include flex(center, start, row, 20px);
    img {
      width: 72px;
    }
    h2 {
      width: 90px;
      font-family: "Bebas Neue", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 22px;
      line-height: 86%;
      color: #666666;
    }
  }

  //?   Actions
  &__actions {
    padding: 0 0 15px;
    @include flex(start, end, row, 20px);
  }

  &__action {
    @include flex(start, end, row, 20px);
    span {
      h3 {
        padding: 5px 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 130%;
        color: #05486a;
        font-family: "Bebas Neue", sans-serif;
      }
      a {
        padding: 5px 25px;
        border: 1px solid #d03427;
        border-radius: 0px 0px 5px 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #d03427;
        transition: 0.25s;
        &:hover {
          color: #fff;
          background: #d03427;
        }
      }
    }

    &:last-child {
      .nav__figure {
        padding: 10px 15px 5px;
        @include flex(start, center, column, 0px);
        width: auto;
        h5 {
          font-weight: 400;
          font-size: 12px;
          line-height: 130%;
          color: #bbbbbb;
        }
        span {
          padding: 5px 0;
          width: 100%;
          @include flex(center, start, row, 20px);
          a {
            padding: 0;
            border: none;
            &:hover {
              background: transparent;
            }
            img {
              width: 28px;
            }
          }
        }
      }
    }
  }

  &__figure {
    width: 55px;
    height: 65px;
    box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
    @include flex;
    img {
      width: 34px;
    }
  }

  //? List
  &__list {
    position: fixed;
    padding: 0 60px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 680px;
    height: 40px;
    background: #e5e5e5;
    border-radius: 0px 0px 10px 10px;
    @include flex(center, space-between, row, 20px);
  }

  &__link {
    position: relative;
    height: 100%;

    &:hover {
      .nav__content {
        display: flex;
      }
    }

    a {
      height: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #666666;
      @include flex;
      transition: 0.2s;
      &:hover {
        color: #d03427;
      }
    }
  }

  &__content {
    position: absolute;
    padding: 10px 0;
    top: 40px;
    left: 0;
    height: auto;
    min-width: 200px;
    background: #ffffff;
    box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
    @include flex(start, center, column);
    display: none;
    li {
      position: relative;
      padding: 0 20px;
      width: 100%;
      height: 35px;
      @include flex(center, start, row, 12px);
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        left: 20px;
        width: 0px;
        height: 2.5px;
        background: #d03427;
        transition: 0.2s;
      }

      &::after {
        position: absolute;
        left: 40px;
        content: "";
        width: 0px;
        height: 10px;
        background: #d03427;
        border-radius: 50%;
        transition: 0.2s;
      }

      a {
        transition: 0.5s;
      }

      &:hover {
        &::before {
          width: 20px;
        }
        &::after {
          width: 10px;
          left: 40px;
        }

        a {
          padding-left: 40px;
          color: #d03427;
        }

        .nav__item {
          display: flex;
        }
      }
    }
  }

  &__item {
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 200px;
    height: auto;
    width: 250px;
    background: #ffffff;
    box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
    @include flex(start, center, column);
    display: none;
    a {
      color: #000 !important;
      position: relative;
      padding: 0 20px;
      width: 100%;
      height: 35px;
      @include flex(center, start, row, 12px);
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        left: 20px;
        width: 0px;
        height: 2.5px;
        background: #d03427;
        transition: 0.2s;
      }

      &::after {
        position: absolute;
        left: 40px;
        content: "";
        width: 0px;
        height: 10px;
        background: #d03427;
        border-radius: 50%;
        transition: 0.2s;
      }

      &:hover {
        padding-left: 60px !important;
        color: #d03427 !important;

        &::before {
          width: 20px;
        }
        &::after {
          width: 10px;
          left: 40px;
        }
      }
    }
  }
}

.nav a.active {
  color: #d03427;
  font-weight: 500;
}

.footer {
  padding: 35px 5vw;
  background: #05486a;
  @include flex;
  &__social {
    margin-top: 60px;
    h5 {
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 10px;
    }
    a {
      &:not(:last-child) {
        margin-right: 10px;
      }
      img {
        width: 28px;
        display: inline-block;
      }
    }
  }

  ul {
    height: 100%;
    width: 100%;
    @include flex(start, space-between, row, 40px);
    li {
      height: 100%;
      @include flex(start, start, column, 5px);
      &:last-child {
        padding-left: 20px;
        box-shadow: -2px 0 0 #d03427;
      }
      h2,
      h3,
      h4 {
        color: #fff;
      }
      a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        transition: 0.2s;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  @include flex;
  display: none;
  z-index: 4;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 3;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
  }

  &__content {
    position: relative;
    width: 880px;
    height: 450px;
    background: #fff;
    border-radius: 0 65px 0 65px;
    @include flex(center, start);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
    z-index: 4;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      height: 100%;
      width: 700px;
      border-radius: 0 65px 0 65px;
      background: url(../img/popup.png) center/cover;
    }
  }

  &__form {
    position: relative;
    padding: 20px 50px;
    width: 380px;
    @include flex(start, center, column, 15px);
    z-index: 5;
  }

  &__title {
    width: 60%;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #d03427;
    mark {
      color: #05486a;
      font-family: "Bebas Neue";
      background: transparent;
    }
  }

  &__group {
    @include flex(center, start, row, 20px);
    input {
      padding: 8px 10px;
      width: 180px;
      background: #ffffff;
      border: 1px solid #bbbbbb;
      box-shadow: 0px 4px 7px rgba(102, 102, 102, 0.2);
      border-radius: 10px;
    }
  }

  &__textarea {
    width: 380px;
    height: 65px;
    padding: 8px 10px;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 4px 7px rgba(102, 102, 102, 0.2);
    border-radius: 10px;
  }

  &__btn {
    width: 235px;
    height: 35px;
    color: #fff;
    background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
  }

  &__subtitle {
    padding: 0 80px;
    @include flex(center, center, column);
    z-index: 4;
    display: none;
    img {
      margin-bottom: 10px;
    }
    h2 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: #05486a;
    }
    h3 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #05486a;
    }
  }
}
