@import "icode";

.about {
  .container {
    padding: 65px 5vw;
    margin-top: 100px;
    @include flex(center, center, row, 20px);
  }

  &__text {
    @include flex(start, center, column, 15px);
    h2 {
      font-family: "Bebas Neue";
      font-style: normal;
      font-size: 24px;
      line-height: 130%;
      color: #05486a;
    }
    p {
      color: #666666;
      font-size: 16px;
      line-height: 130%;
    }
  }
}


