@import "icode";

.about {
  padding: 50px 5vw;
  .container {
    margin-top: 100px;
    @include flex(center, center, row, 20px);
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__text {
    width: 100%;
    @include flex(start, center, column, 15px);
    h2 {
      font-family: "Bebas Neue";
      font-style: normal;
      font-size: 24px;
      line-height: 130%;
      color: #05486a;
    }
    p {
      color: #666666;
      font-size: 16px;
      line-height: 130%;
    }
  }

  img {
    width: 55vw;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
