@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "../fonts/bebasneue.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.nav {
  position: fixed;
  padding: 0 5vw;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  z-index: 3;
}
@media screen and (max-width: 576px) {
  .nav {
    height: 60px;
  }
}
.nav__logo {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .nav__logo {
    gap: 5px;
  }
}
.nav__logo img {
  width: 72px;
}
@media screen and (max-width: 576px) {
  .nav__logo img {
    height: 50px;
  }
}
.nav__logo h2 {
  width: 90px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 86%;
  color: #666666;
}
.nav__actions {
  padding: 0 0 15px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .nav__actions {
    display: none;
  }
}
.nav__action {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 20px;
}
.nav__action span h3 {
  padding: 5px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #05486a;
  font-family: "Bebas Neue", sans-serif;
}
.nav__action span a {
  padding: 5px 25px;
  border: 1px solid #d03427;
  border-radius: 0px 0px 5px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #d03427;
  transition: 0.25s;
}
.nav__action span a:hover {
  color: #fff;
  background: #d03427;
}
.nav__action:last-child .nav__figure {
  padding: 10px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
  width: auto;
}
.nav__action:last-child .nav__figure h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #bbbbbb;
}
.nav__action:last-child .nav__figure span {
  padding: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.nav__action:last-child .nav__figure span a {
  padding: 0;
  border: none;
}
.nav__action:last-child .nav__figure span a:hover {
  background: transparent;
}
.nav__action:last-child .nav__figure span a img {
  width: 28px;
}
.nav__figure {
  width: 55px;
  height: 65px;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.nav__figure img {
  width: 34px;
}
.nav__bar {
  height: 100%;
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .nav__bar img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav__bar img:last-child {
    display: none;
  }
}
.nav__list {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 680px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .nav__list {
    padding: 20px;
    left: 0;
    transform: translateX(0);
    min-height: calc(100vh - 80px);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    box-shadow: inset 0 1.5px 5px rgba(37, 37, 37, 0.4392156863);
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .nav__list {
    top: 60px;
    min-height: calc(100vh - 60px);
  }
}
.nav__link {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
@media screen and (max-width: 1024px) {
  .nav__link {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
  }
}
.nav__link:nth-child(1) .nav__content {
  transform: translateX(32px);
}
.nav__link:nth-child(1) a:first-child {
  border-radius: 0px 0px 0 10px;
}
.nav__link:nth-child(5) .link {
  border-radius: 0px 0px 10px 0;
}
.nav__link:hover .nav__content {
  display: flex;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .nav__link:hover .nav__content {
    transform: translateX(0);
    z-index: 2;
  }
}
.nav__link .link {
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  background: #e5e5e5;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  z-index: 3;
  transition: 0.2s;
}
@media screen and (max-width: 1024px) {
  .nav__link .link {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
}
.nav__link .link:hover {
  color: #d03427;
}
.nav__content {
  position: absolute;
  padding: 25px 0;
  top: 30px;
  height: 250px;
  min-width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
  background: #ffffff;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0px;
  z-index: 2;
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__content {
    padding: 0;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    box-shadow: none;
    top: 0;
  }
}
.nav__content li {
  padding: 0 20px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .nav__content li {
    padding: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
  }
}
.nav__content li::before {
  position: absolute;
  content: "";
  left: 20px;
  width: 0px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.nav__content li::after {
  position: absolute;
  left: 40px;
  content: "";
  width: 0px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}
.nav__content li a {
  transition: 0.5s;
}
.nav__content li:hover::before {
  width: 20px;
}
.nav__content li:hover::after {
  width: 10px;
  left: 40px;
}
.nav__content li:hover a {
  padding-left: 40px;
  color: #d03427;
}
.nav__content li:hover .nav__item {
  display: flex;
}
.nav__item {
  position: absolute;
  padding: 20px 0;
  top: 0;
  left: 200px;
  height: 250px;
  width: 220px;
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15), inset 4px 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0px;
  z-index: 1;
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__item {
    display: none !important;
  }
}
.nav__item a {
  color: #000 !important;
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  cursor: pointer;
}
.nav__item a::before {
  position: absolute;
  content: "";
  left: 20px;
  width: 0px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.nav__item a::after {
  position: absolute;
  left: 40px;
  content: "";
  width: 0px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}
.nav__item a:hover {
  padding-left: 60px !important;
  color: #d03427 !important;
}
.nav__item a:hover::before {
  width: 20px;
}
.nav__item a:hover::after {
  width: 10px;
  left: 40px;
}

.nav.active .nav__bar img:first-child {
  display: none;
}
.nav.active .nav__bar img:last-child {
  display: block;
}
.nav.active .nav__list {
  display: flex;
}

.nav a.active {
  color: #d03427;
  font-weight: 500;
}

.footer {
  padding: 35px 5vw;
  background: #05486a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.footer__social {
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .footer__social {
    margin-top: 0;
  }
}
.footer__social h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
.footer__social a:not(:last-child) {
  margin-right: 10px;
}
.footer__social a img {
  width: 28px;
  display: inline-block;
}
.footer ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .footer ul {
    padding: 20px;
    flex-wrap: wrap;
  }
}
.footer ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5px;
}
@media screen and (max-width: 1024px) {
  .footer ul li:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
}
.footer ul li:last-child {
  padding-left: 20px;
  box-shadow: -2px 0 0 #d03427;
}
.footer ul li h2,
.footer ul li h3,
.footer ul li h4 {
  color: #fff;
}
.footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  transition: 0.2s;
}
.footer ul li a:hover {
  color: #fff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  display: none;
  z-index: 4;
}
.popup__bg {
  position: fixed;
  padding: 0 5vw;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 3;
}
.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}
.popup__content {
  position: relative;
  width: 880px;
  height: 450px;
  background: #fff;
  border-radius: 0 65px 0 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
@media screen and (max-width: 1024px) {
  .popup__content {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}
.popup__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 700px;
  border-radius: 0 65px 0 65px;
  background: url(../img/popup.png) center/cover;
}
@media screen and (max-width: 1024px) {
  .popup__content::after {
    width: 80vw;
    opacity: 0.5;
  }
}
.popup__form {
  position: relative;
  padding: 20px 50px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  z-index: 5;
}
@media screen and (max-width: 1024px) {
  .popup__form {
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
.popup__title {
  width: 60%;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #d03427;
}
@media screen and (max-width: 1024px) {
  .popup__title {
    width: 100%;
  }
}
.popup__title mark {
  color: #05486a;
  font-family: "Bebas Neue";
  background: transparent;
}
.popup__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .popup__group {
    width: 100%;
    flex-direction: column;
  }
}
.popup__group input {
  padding: 8px 10px;
  width: 180px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 0px 4px 7px rgba(102, 102, 102, 0.2);
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .popup__group input {
    width: 100%;
  }
}
.popup__textarea {
  width: 380px;
  height: 65px;
  padding: 8px 10px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 0px 4px 7px rgba(102, 102, 102, 0.2);
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .popup__textarea {
    width: 100%;
  }
}
.popup__btn {
  width: 235px;
  height: 35px;
  color: #fff;
  background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
.popup__subtitle {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  z-index: 4;
  display: none;
}
.popup__subtitle img {
  margin-bottom: 10px;
}
.popup__subtitle h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #05486a;
}
.popup__subtitle h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #05486a;
}

.contact {
  padding: 65px 5vw;
  max-width: 100vw;
  overflow: hidden;
}
.contact .container {
  position: relative;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .contact .container {
    flex-direction: column;
    gap: 20px;
  }
}
.contact .container::before {
  position: absolute;
  content: "";
  bottom: 65px;
  left: 5vw;
  width: 630px;
  height: 410px;
  background: url(../img/shape-1.png);
  z-index: -1;
}
.contact__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.contact__text h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.contact__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.contact__content {
  padding: 20px;
  height: 220px;
  width: 400px;
  background: #ffffff;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);
  border-radius: 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 25px;
}
@media screen and (max-width: 1024px) {
  .contact__content {
    height: auto;
    width: 100%;
  }
}
.contact__content span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
@media screen and (max-width: 1024px) {
  .contact__map {
    height: auto;
    width: 100%;
  }
}
.contact__map iframe {
  width: 680px;
  height: 580px;
  border: none;
  outline: none;
  border-radius: 65px 0px;
}
@media screen and (max-width: 1024px) {
  .contact__map iframe {
    height: 300px;
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */