@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.nav {
  position: fixed;
  padding: 0 5vw;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  z-index: 3;
}
.nav__logo {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.nav__logo img {
  width: 72px;
}
.nav__logo h2 {
  width: 90px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 86%;
  color: #666666;
}
.nav__actions {
  padding: 0 0 15px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 20px;
}
.nav__action {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 20px;
}
.nav__action span h3 {
  padding: 5px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #05486a;
  font-family: "Bebas Neue", sans-serif;
}
.nav__action span a {
  padding: 5px 25px;
  border: 1px solid #d03427;
  border-radius: 0px 0px 5px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #d03427;
  transition: 0.25s;
}
.nav__action span a:hover {
  color: #fff;
  background: #d03427;
}
.nav__action:last-child .nav__figure {
  padding: 10px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
  width: auto;
}
.nav__action:last-child .nav__figure h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #bbbbbb;
}
.nav__action:last-child .nav__figure span {
  padding: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.nav__action:last-child .nav__figure span a {
  padding: 0;
  border: none;
}
.nav__action:last-child .nav__figure span a:hover {
  background: transparent;
}
.nav__action:last-child .nav__figure span a img {
  width: 28px;
}
.nav__figure {
  width: 55px;
  height: 65px;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.nav__figure img {
  width: 34px;
}
.nav__list {
  position: fixed;
  padding: 0 60px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 680px;
  height: 40px;
  background: #e5e5e5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav__link {
  position: relative;
  height: 100%;
}
.nav__link:hover .nav__content {
  display: flex;
}
.nav__link a {
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  transition: 0.2s;
}
.nav__link a:hover {
  color: #d03427;
}
.nav__content {
  position: absolute;
  padding: 10px 0;
  top: 40px;
  left: 0;
  height: auto;
  min-width: 200px;
  background: #ffffff;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
  display: none;
}
.nav__content li {
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  cursor: pointer;
}
.nav__content li::before {
  position: absolute;
  content: "";
  left: 20px;
  width: 0px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.nav__content li::after {
  position: absolute;
  left: 40px;
  content: "";
  width: 0px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}
.nav__content li a {
  transition: 0.5s;
}
.nav__content li:hover::before {
  width: 20px;
}
.nav__content li:hover::after {
  width: 10px;
  left: 40px;
}
.nav__content li:hover a {
  padding-left: 40px;
  color: #d03427;
}
.nav__content li:hover .nav__item {
  display: flex;
}
.nav__item {
  position: absolute;
  padding: 10px 0;
  top: 0;
  left: 200px;
  height: auto;
  width: 250px;
  background: #ffffff;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
  display: none;
}
.nav__item a {
  color: #000 !important;
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  cursor: pointer;
}
.nav__item a::before {
  position: absolute;
  content: "";
  left: 20px;
  width: 0px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.nav__item a::after {
  position: absolute;
  left: 40px;
  content: "";
  width: 0px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}
.nav__item a:hover {
  padding-left: 60px !important;
  color: #d03427 !important;
}
.nav__item a:hover::before {
  width: 20px;
}
.nav__item a:hover::after {
  width: 10px;
  left: 40px;
}

.nav a.active {
  color: #d03427;
  font-weight: 500;
}

.footer {
  padding: 35px 5vw;
  background: #05486a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.footer__social {
  margin-top: 60px;
}
.footer__social h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
.footer__social a:not(:last-child) {
  margin-right: 10px;
}
.footer__social a img {
  width: 28px;
  display: inline-block;
}
.footer ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
.footer ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5px;
}
.footer ul li:last-child {
  padding-left: 20px;
  box-shadow: -2px 0 0 #d03427;
}
.footer ul li h2,
.footer ul li h3,
.footer ul li h4 {
  color: #fff;
}
.footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  transition: 0.2s;
}
.footer ul li a:hover {
  color: #fff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  display: none;
  z-index: 4;
}
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 3;
}
.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}
.popup__content {
  position: relative;
  width: 880px;
  height: 450px;
  background: #fff;
  border-radius: 0 65px 0 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
.popup__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 700px;
  border-radius: 0 65px 0 65px;
  background: url(../img/popup.png) center/cover;
}
.popup__form {
  position: relative;
  padding: 20px 50px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  z-index: 5;
}
.popup__title {
  width: 60%;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #d03427;
}
.popup__title mark {
  color: #05486a;
  font-family: "Bebas Neue";
  background: transparent;
}
.popup__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.popup__group input {
  padding: 8px 10px;
  width: 180px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 0px 4px 7px rgba(102, 102, 102, 0.2);
  border-radius: 10px;
}
.popup__textarea {
  width: 380px;
  height: 65px;
  padding: 8px 10px;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 0px 4px 7px rgba(102, 102, 102, 0.2);
  border-radius: 10px;
}
.popup__btn {
  width: 235px;
  height: 35px;
  color: #fff;
  background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
.popup__subtitle {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  z-index: 4;
  display: none;
}
.popup__subtitle img {
  margin-bottom: 10px;
}
.popup__subtitle h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #05486a;
}
.popup__subtitle h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #05486a;
}

.nav a.active {
  color: #d03427;
  font-weight: 500;
}

.header {
  padding: 90px 5vw 50px;
}
.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.header__swiper {
  position: relative;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.header__swiper .swiper-slide img {
  width: 100%;
}
.header__swiper .swiper-pagination {
  position: relative;
  bottom: 0 !important;
  min-width: 80px;
  min-height: 32px;
  max-width: 80px;
  max-height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.header__swiper-box {
  position: absolute;
  margin-left: 100px;
  bottom: 20px;
  width: 140px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  z-index: 11;
}
.header__swiper-box img {
  cursor: pointer;
}
.header__content {
  position: relative;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.header__content h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 87%;
  color: #d03427;
}
.header__colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
}
.header__colors label:nth-child(2) input {
  background: #05486a;
}
.header__colors label:nth-child(3) input {
  background: #ff8a00;
}
.header__colors label:nth-child(4) input {
  background: #e16459;
}
.header__colors label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background: #d9d9d9;
  transition: 0.2s;
}
.header__colors label input:checked {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #d03427;
}
.header__colors label input:checked + img {
  display: block;
}
.header__colors label img {
  position: absolute;
  left: 0;
  transform: translateY(-240px);
  width: 260px;
  height: 150px;
  display: none;
}
.header__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.header__price span del {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.header__price span h3 {
  font-weight: 400;
  font-size: 20px;
  color: #05486a;
}
.header__btn {
  cursor: pointer;
  width: 180px;
  height: 35px;
  background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
  border-radius: 0px 0px 10px 10px;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.header__text {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__text h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 87%;
  color: #d03427;
}
.header__text p {
  width: 60%;
  font-size: 14px;
  color: #666666;
}

.proccess {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.proccess__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.proccess__text h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.proccess__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.proccess__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.proccess__item {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.proccess__item::before {
  position: absolute;
  left: -10px;
  top: 10px;
  content: "";
  width: 180px;
  height: 165px;
  border: 1px solid #e5e5e5;
  border-radius: 35px 0px;
}
.proccess__item p {
  font-size: 14px;
  line-height: 130%;
  color: #666666;
}

.about {
  padding: 50px 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.about img {
  width: 60%;
}
.about span {
  padding: 40px 25px;
  background: #ffffff;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 65px 0px;
}
.about span button {
  width: 180px;
  height: 35px;
  color: #d03427;
  background: transparent;
  border: 1px solid #d03427;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}

.order {
  padding: 50px 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.order__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.order__text h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.order__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.order__text ul li {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.order__text ul li:not(:first-child) {
  margin-top: 15px;
}
.order__text ul li h3 {
  height: 55px;
  width: 40px;
  color: #fff;
  background: #d03427;
  border-radius: 15px 0px 0px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  transform: rotate(-90deg);
}
.order__text ul li p {
  font-size: 14px;
  line-height: 130%;
  color: #666666;
}
.order__text span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
.order__text span h4 {
  font-size: 14px;
  line-height: 130%;
  color: #05486a;
}
.order__text span button {
  cursor: pointer;
  width: 230px;
  height: 35px;
  background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
  border-radius: 0px 0px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

.services {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.services__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.services__text h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.services__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.services__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.services__item img {
  width: 100%;
}
.services__item p {
  position: relative;
  padding-left: 60px;
  line-height: 130%;
  color: #666666;
}
.services__item p::before {
  position: absolute;
  top: 7px;
  content: "";
  left: 0px;
  width: 40px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.services__item p::after {
  position: absolute;
  top: 4px;
  left: 40px;
  content: "";
  width: 10px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}

.projects {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.projects__text h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.projects__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.projects__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 280px);
  gap: 20px;
}
.projects__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 0px;
}
.projects__item:hover span {
  opacity: 1;
}
.projects__item span {
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: 160px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 10px;
  background: linear-gradient(179.54deg, rgba(5, 72, 106, 0) 0.4%, #05486a 86.33%);
  opacity: 0;
  transition: 0.2s;
}
.projects__item span p {
  padding-left: 70px;
  position: relative;
}
.projects__item span p::before {
  position: absolute;
  top: 8px;
  content: "";
  left: 5px;
  width: 40px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.projects__item span p::after {
  position: absolute;
  top: 5px;
  left: 40px;
  content: "";
  width: 10px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}
.projects__item span b {
  padding-left: 70px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.projects__item span b h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #ffffff;
}
.projects__item span button {
  align-self: center;
  cursor: pointer;
  width: 230px;
  height: 35px;
  background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
  border-radius: 0px 0px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

.quality {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.quality__text h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.quality__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.quality__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.quality__list li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.quality__list li img {
  width: 100%;
}
.quality__list li span {
  padding: 0 20px;
  height: 40px;
  width: 100%;
  background: #d03427;
  border-radius: 0px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.quality__list li span img {
  width: 30px;
}
.quality__list li span h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
}
.quality__list li span p {
  font-size: 14px;
  line-height: 130%;
  color: #666666;
}

.popular {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.popular__text h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.popular__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.popular__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 280px);
  gap: 20px;
}
.popular__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 0px;
}
.popular__item:hover span:nth-child(1) {
  opacity: 0;
}
.popular__item:hover span:nth-child(2) {
  opacity: 1;
}
.popular__item span {
  position: relative;
  padding: 15px 0;
  width: 100%;
  color: #fff;
  transition: 0.2s;
}
.popular__item span:nth-child(1) {
  height: 160px;
  background: linear-gradient(179.54deg, rgba(5, 72, 106, 0) 0.4%, #05486a 86.33%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 10px;
  transition: 0.2s;
}
.popular__item span:nth-child(1) p {
  padding-left: 70px;
  position: relative;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
}
.popular__item span:nth-child(1) p::before {
  position: absolute;
  top: 8px;
  content: "";
  left: 5px;
  width: 40px;
  height: 2.5px;
  background: #d03427;
  transition: 0.2s;
}
.popular__item span:nth-child(1) p::after {
  position: absolute;
  top: 5px;
  left: 40px;
  content: "";
  width: 10px;
  height: 10px;
  background: #d03427;
  border-radius: 50%;
  transition: 0.2s;
}
.popular__item span:nth-child(1) p b {
  font-weight: 600;
}
.popular__item span:nth-child(2) {
  position: absolute;
  padding: 20px 70px;
  height: 100%;
  background: rgba(5, 72, 106, 0.8980392157);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0px;
  transition: 0.2s;
  opacity: 0;
}
.popular__item span:nth-child(2) button,
.popular__item span:nth-child(2) u {
  margin-top: 10px;
}
.popular__item span:nth-child(2) h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  align-self: center;
}
.popular__item span:nth-child(2) button {
  width: 100%;
}
.popular__item span:nth-child(2) button:last-child {
  background: transparent;
  border: 1px solid #ffffff;
}
.popular__item span button {
  align-self: center;
  cursor: pointer;
  width: 230px;
  height: 35px;
  background: linear-gradient(180deg, #e16459 0%, #d03427 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 11px rgba(208, 52, 39, 0.5);
  border-radius: 0px 0px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

.discount {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.discount__text h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.discount__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.discount__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.discount__item {
  position: relative;
  padding: 15px 20px 15px 0;
  background: #05486a;
  border-radius: 35px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
  overflow: hidden;
}
.discount__item:nth-child(3) {
  padding: 0;
  grid-row-start: span 2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.discount__item:nth-child(3) span {
  padding: 20px;
  width: 100%;
}
.discount__item:nth-child(3) img {
  width: 100%;
}
.discount__item img {
  width: 25%;
}
.discount__item span {
  width: 75%;
}
.discount__item span h4 {
  color: #fff;
}
.discount__item span p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}
.discount__item-count {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 40px;
  background: #d03427;
  border-radius: 0px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.discount__item-count h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  transform: rotate(-90deg);
}

.warranty {
  padding: 50px 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.warranty__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.warranty__item::before {
  position: absolute;
  left: 10px;
  top: -10px;
  content: "";
  width: 180px;
  height: 150px;
  border: 1px solid #e5e5e5;
  border-radius: 35px 0px;
  z-index: -1;
}
.warranty__item img {
  width: 35%;
}
.warranty__item span {
  position: relative;
  width: 80%;
  margin-left: 10px;
}
.warranty__item span h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
  margin-bottom: 10px;
}
.warranty__item span p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
}

.seo {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.seo__text h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #05486a;
}
.seo__text h2 mark {
  color: #d03427;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  background: transparent;
}
.seo p {
  width: 70%;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
}
.seo__btn {
  width: 180px;
  height: 35px;
  border: 1px solid #d03427;
  border-radius: 0px 0px 5px 5px;
  font-size: 14px;
  line-height: 130%;
  color: #d03427;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.seo__btn:hover {
  color: #fff;
  background: #d03427;
}/*# sourceMappingURL=kitchen.css.map */